# This project will create an instance for each sections
#
# Example:
#    [Name as you wish]
#    desc: Description for this instance
#    apiKey : xxxxxx
#    secKey : XXXXXX
#    exchange: Exchange API folder name
#    strategy: Strategy name

[global]
desc: Global configurations

[trade_test]
desc: 50/50 balanced on okcoin.cn
apikey: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
secretkey: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
exchange: okcoinCN
strategy: halfBalanced
