# This project will create an instance for each sections
#
# Example of test instance:
#    [Trade strategy] (suggest to be <=8 letters for logging formats)
#    enable: yes
#    desc: Description for this instance
#    apiKey : xxxxxx
#    secKey : XXXXXX
#    exchange: Exchange API folder name
#    strategy: Strategy name
#    logLevel: [CRITICAL|ERROR|WARNING|INFO|DEBUG]
#    showLog: [TRUE|FALSE] (print log in console)

[GLOBAL]
desc: Global configurations
logLevel: DEBUG
showLog: True

[REBLNCE]
enable: no
desc: 50/50 dynamic re-balanced on okcoin.cn
apikey: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
secretkey: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
exchange: okcoinCN
strategy: halfBalanced
logLevel: INFO
showLog: TRUE

[GRID]
enable: yes
desc: Grid trading on okcoin.cn
apikey: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
secretkey: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
exchange: okcoinCN
strategy: gradTrading
logLevel: DEBUG
showLog: TRUE
top: 4650
bottom: 4300
prin: 4700
step: 0.01
stop: 4000

[PRICE]
enable: yes
desc: Get on okcoin.cn
apikey: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
secretkey: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
exchange: okcoinCN
strategy: getPrice
logLevel: INFO
showLog: TRUE
